server:
  port: 8085

spring:
  profiles:
    active: prod

  application:
    name: demographie-microservice

  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://configserver:9999}

  datasource:
    url: jdbc:h2:mem:demodb

  h2:
    console:
      enabled: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  cloud:
    config:
      enabled: true
    discovery:
      enabled: true
    eureka:
      client:
        service-url:
          defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}

management:
  endpoints:
    web:
      exposure:
        include: '*'

build:
  version: 1.0

author:
  name: "malek Demographie"
  email: "malek_Demographie2003@gmail.com"
