server:
  port: 8888

spring:
  application:
    name: gatewayserver

  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      routes:
        - id : r1
          uri: lb://DEMOGRAPHIE-MICROSERVICE
          predicates:
            - Path= /api/demographies/**
        - id : r2
          uri: lb://Manga-MICROSERVICE
          predicates:
            - Path= /api/mangas/**
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted
