server:
  port: 8888

spring:
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

  application:
    name: gatewayserver

  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      routes:
        - id : r1
          uri: lb://DEMOGRAPHIE-MICROSERVICE
          predicates:
            - Path= /api/demographies/**
        - id : r2
          uri: lb://Manga-MICROSERVICE
          predicates:
            - Path= /api/mangas/**
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true



management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true  # ✅ Ajouté pour activer l'endpoint gatewa

# ✅ CORRECTION : eureka doit être à la racine, avec bonne indentation
eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
    register-with-eureka: true
    fetch-registry: true  # ✅ Corrigé le nom de la propriété
  instance:
    prefer-ip-address: true
    hostname: gatewayserver
    lease-renewal-interval-in-seconds: 10